.cssa-infinity-loader {
  width: 64px;
  height: 32px;
  border-radius: 999px;
  border: 5px solid transparent;
  border-top-color: #f43f5e;
  border-bottom-color: #f43f5e;
  animation: cssa-infinity-loader-spin 1.2s linear infinite;
  position: relative;
}

.cssa-infinity-loader::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-left: -16px;
  border-radius: 999px;
  border: 5px solid transparent;
  border-top-color: #8b5cf6;
  border-bottom-color: #8b5cf6;
  animation: cssa-infinity-loader-spin 1.2s linear infinite reverse;
}

@keyframes cssa-infinity-loader-spin {
  to {
    transform: rotate(360deg);
  }
}
