.cssa-neon-flicker-text {
  font-size: 44px;
  font-weight: 800;
  letter-spacing: 3px;
  color: #fff;
  text-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px #ff00de,
    0 0 80px #ff00de,
    0 0 90px #ff00de;
  animation: cssa-neon-flicker-text-flicker 3s linear infinite;
}

@keyframes cssa-neon-flicker-text-flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #ff00de,
      0 0 80px #ff00de,
      0 0 90px #ff00de;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
